
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

div{
    display: flex;
    gap: 2rem;
}

button{
    padding: 0.6rem 2.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#button1{
    background-color: rgb(9, 9, 48);
    color: white;
}

#button2{
    background-color: rgb(126, 241, 11);
    color: black;
}

.copyCode{
    border-left: 3px solid white;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    background-color: #f6f7f548;
    line-height: 2rem;
    color: white;
    font-size: larger;
    margin: 1rem;
}
